<%= form_for(@sess) do |f| %>
  <% if @sess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sess.errors.count, "error") %> prohibited this sess from being saved:</h2>

      <ul>
      <% @sess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
