<% provide(:title, 'Nouveau projet') %>
<div class="principal">
  <div id="project-form">
    <%= render 'form' %>
    <%= link_to 'Liste des projets', projects_path, class: "link",:style=>"margin-top:20px;margin-left:2px;" %>
  </div>

</div>