<div dir="ltr"
     style="font-size: 36px; font-family: sans-serif; left: 254.134px; top: 262.025px; transform: scale(1.27049, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_1" data-canvas-width="350.676">Table of Contents
</div>
<div dir="ltr"
     style="font-size: 14.4px; font-family: sans-serif; left: 129.6px; top: 330.281px; transform: scale(0.996245, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="48.81600193977357">Preface
</div>
<div dir="ltr"
     style="font-size: 14.4px; font-family: sans-serif; left: 596.362px; top: 330.281px; transform: scale(1.0548, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="8.43840033531189">1
</div>
<div dir="ltr"
     style="font-size: 14.4px; font-family: sans-serif; left: 129.6px; top: 351.017px; transform: scale(0.989805, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="274.1760108947754">Chapter 1: Responsive Elements and Media
</div>
<div dir="ltr"
     style="font-size: 14.4px; font-family: sans-serif; left: 596.362px; top: 351.017px; transform: scale(1.0548, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="8.43840033531189">5
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 368.057px; transform: scale(1.05758, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="70.857604095459">Introduction
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 597.059px; top: 368.057px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="7.735200447082519">5
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 383.897px; transform: scale(1.00284, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="223.63441292572026">Resizing an image using percent width
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 597.059px; top: 383.897px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="7.735200447082519">6
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 399.737px; transform: scale(0.994856, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="297.46201719284056">Responsive images using the cookie and
    JavaScript
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 597.059px; top: 399.737px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="7.735200447082519">8
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 415.577px; transform: scale(1.00224, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="275.6160159301758">Making your video respond to your screen width
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.403px; top: 415.577px; transform: scale(1.09937, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.3912008895874">10
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 431.417px; transform: scale(0.994187, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="225.6804130439759">Resizing an image using media queries
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.126px; top: 431.417px; transform: scale(1.11917, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.66840090560913">13
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 447.257px; transform: scale(1.0165, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="260.2248150405884">Changing your navigation with media queries
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.218px; top: 447.257px; transform: scale(1.11257, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.576000900268554">14
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 463.097px; transform: scale(0.994819, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="250.69441448974615">Making a responsive padding based on size
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 463.097px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">19
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 478.937px; transform: scale(1.00709, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="287.0208165893555">Making a CSS3 button glow for a loading element
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.429px; top: 478.937px; transform: scale(1.09749, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.364800888061522">21
</div>
<div dir="ltr"
     style="font-size: 14.4px; font-family: sans-serif; left: 129.6px; top: 498.473px; transform: scale(0.962383, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="215.798408575058">Chapter 2: Responsive Typography
</div>
<div dir="ltr"
     style="font-size: 14.4px; font-family: sans-serif; left: 588.24px; top: 498.473px; transform: scale(1.0341, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="16.545600657463073">27
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 515.513px; transform: scale(1.05758, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="70.857604095459">Introduction
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.627px; top: 515.513px; transform: scale(1.08334, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.166800876617431">27
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 531.353px; transform: scale(1.00912, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_3" data-canvas-width="213.93241236495973">Creating fluid, responsive typography
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 531.353px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_3" data-canvas-width="15.470400894165039">28
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 547.193px; transform: scale(1.00593, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="199.17481151199343">Making a text shadow with canvas
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 547.193px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">29
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 563.033px; transform: scale(1.01115, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="271.99921572113044">Making an inner and outer shadow with canvas
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.535px; top: 563.033px; transform: scale(1.08994, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.259200881958007">31
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 578.873px; transform: scale(1.00866, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="175.50721014404297">Rotating your text with canvas
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 578.873px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">33
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 594.713px; transform: scale(0.991964, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="166.6500096321106">Rotating your text with CSS3
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 594.713px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">34
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 610.553px; transform: scale(0.993451, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="151.9980087852478">Making 3D text with CSS3
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 610.553px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">36
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 626.393px; transform: scale(1.00193, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="260.5020150566101">Adding texture to your text with text masking
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 626.393px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">38
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 642.233px; transform: scale(1.00808, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="348.79682015991216">Styling alternating rows with the nth
    positional pseudo class
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 642.233px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">39
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 658.073px; transform: scale(1.01096, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="304.29961758804325">Adding characters before and after pseudo
    elements
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.469px; top: 658.073px; transform: scale(1.09466, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.325200885772706">41
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 673.913px; transform: scale(1.02034, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="232.6368134460449">Making a button with a relative font size
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 673.913px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">42
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 689.753px; transform: scale(0.996521, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="167.4156096763611">Adding a shadow to your font
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.152px; top: 689.753px; transform: scale(1.11729, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.642000904083252">44
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 138.24px; top: 705.593px; transform: scale(1.02224, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="203.42521175765995">Curving a corner with border radius
</div>
<div dir="ltr"
     style="font-size: 13.2px; font-family: sans-serif; left: 589.324px; top: 705.593px; transform: scale(1.10503, 1); transform-origin: 0% 0% 0px;"
     data-font-name="g_font_p9_2" data-canvas-width="15.470400894165039">46
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 316.8px; top: 930px; transform: scale(0.974439, 1); transform-origin: 0% 0% 0px;"
     data-font-name="Helvetica" data-canvas-width="100.69200400114063">www.it-ebooks.info
</div>