<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.6px; top: 112.846px; transform: scale(0.902514, 1); transform-origin: 0% 0% 0px;"
     ligne="2" data-font-name="g_font_p74_1" data-canvas-width="94.76400000000001">Responsive Layout
</div>
<div dir="ltr"
     style="font-size: 9.6px; font-family: sans-serif; left: 145.364px; top: 799.847px; transform: scale(1.0672, 1); transform-origin: 0% 0% 0px;"
     ligne="3" data-font-name="g_font_p74_2" data-canvas-width="12.806400508880616">62
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 136.804px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="4" data-font-name="g_font_p74_3" data-canvas-width="298.0800052642825"> .content,.comments {padding: 1% 1%
    1% 0;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 151.492px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="5" data-font-name="g_font_p74_3" data-canvas-width="90.72000160217284"> .content{
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 166.18px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="6" data-font-name="g_font_p74_3" data-canvas-width="136.08000240325924"> width: 60%;
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 180.868px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="7" data-font-name="g_font_p74_3" data-canvas-width="187.9200033187866"> margin-left: 144px;
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 195.556px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="8" data-font-name="g_font_p74_3" data-canvas-width="38.88000068664551"> }
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 210.244px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="9" data-font-name="g_font_p74_3" data-canvas-width="6.480000114440918">}
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.6px; top: 233.812px; transform: scale(0.919368, 1); transform-origin: 0% 0% 0px;"
     ligne="10" data-font-name="g_font_p74_4" data-canvas-width="424.65600000000006">You can also style the inline menu
    however you want. For now let's simply add some
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.6px; top: 248.212px; transform: scale(0.926341, 1); transform-origin: 0% 0% 0px;"
     ligne="12" data-font-name="g_font_p74_4" data-canvas-width="75.96000000000001">margins to the
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 205.549px; top: 248.812px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="13" data-font-name="g_font_p74_3" data-canvas-width="13.680000686645508">li
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 219.229px; top: 248.212px; transform: scale(0.923841, 1); transform-origin: 0% 0% 0px;"
     ligne="14" data-font-name="g_font_p74_4" data-canvas-width="349.2120000000001"> elements. Add this element and
    styles outside of the media queries,
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 129.6px; top: 263.212px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="16" data-font-name="g_font_p74_3" data-canvas-width="198.36000995635985">.nav ul li{margin: 2px 10px;}
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 327.957px; top: 262.612px; transform: scale(1, 1); transform-origin: 0% 0% 0px;"
     ligne="17" data-font-name="g_font_p74_4" data-canvas-width="3">.
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.597px; top: 287.38px; transform: scale(0.939136, 1); transform-origin: 0% 0% 0px;"
     ligne="18" data-font-name="g_font_p74_5" data-canvas-width="362.616">Finally, on to the content and comments, paste
    your filler text inside the
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 492.202px; top: 287.98px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="19" data-font-name="g_font_p74_3" data-canvas-width="54.72000274658203">.content
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.597px; top: 301.78px; transform: scale(0.918252, 1); transform-origin: 0% 0% 0px;"
     ligne="22" data-font-name="g_font_p74_4" data-canvas-width="418.52399999999994">element. I also added the header
    and paragraph tags inside. We will do something
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.597px; top: 316.18px; transform: scale(0.923143, 1); transform-origin: 0% 0% 0px;"
     ligne="24" data-font-name="g_font_p74_4" data-canvas-width="129.24">similar for the comments.
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.597px; top: 340.948px; transform: scale(0.923229, 1); transform-origin: 0% 0% 0px;"
     ligne="25" data-font-name="g_font_p74_4" data-canvas-width="431.148">Remember that we want to allow for embedded
    comments, or people to comment on
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.597px; top: 355.348px; transform: scale(0.920936, 1); transform-origin: 0% 0% 0px;"
     ligne="26" data-font-name="g_font_p74_4" data-canvas-width="472.44000000000005">comments. There will be a possible
    inherited hierarchy of comments, and we still need this to
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.597px; top: 369.748px; transform: scale(0.914515, 1); transform-origin: 0% 0% 0px;"
     ligne="27" data-font-name="g_font_p74_4" data-canvas-width="475.548">look good in all browser sizes, so we should
    add some padding. Adding a static padding to the
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 129.6px; top: 384.748px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="28" data-font-name="g_font_p74_3" data-canvas-width="54.72000274658203">.comment
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 184.319px; top: 384.148px; transform: scale(0.92462, 1); transform-origin: 0% 0% 0px;"
     ligne="29" data-font-name="g_font_p74_4" data-canvas-width="411.45599999999996"> element will not look good in all
    browser sizes. Instead, add a relative padding to
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.599px; top: 398.548px; transform: scale(0.921055, 1); transform-origin: 0% 0% 0px;"
     ligne="30" data-font-name="g_font_p74_4" data-canvas-width="101.31600000000002">each media query's
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 230.926px; top: 399.148px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="31" data-font-name="g_font_p74_3" data-canvas-width="61.56000308990478">.comments
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 292.485px; top: 398.548px; transform: scale(0.920496, 1); transform-origin: 0% 0% 0px;"
     ligne="32" data-font-name="g_font_p74_4" data-canvas-width="312.048"> element, so that they take less space as the
    browser window
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.597px; top: 412.948px; transform: scale(0.90352, 1); transform-origin: 0% 0% 0px;"
     ligne="33" data-font-name="g_font_p74_4" data-canvas-width="67.76400000000001">gets smaller:
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 197.34px; top: 413.548px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="34" data-font-name="g_font_p74_3" data-canvas-width="20.52000102996826">90%
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 217.86px; top: 412.948px; transform: scale(0.9738, 1); transform-origin: 0% 0% 0px;"
     ligne="35" data-font-name="g_font_p74_4" data-canvas-width="38.952000000000005"> for the
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 256.79px; top: 413.548px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="36" data-font-name="g_font_p74_3" data-canvas-width="102.6000051498413">max-width:960px
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 359.388px; top: 412.948px; transform: scale(0.916683, 1); transform-origin: 0% 0% 0px;"
     ligne="37" data-font-name="g_font_p74_4" data-canvas-width="37.584"> media
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 396.96px; top: 412.948px; transform: scale(0.941474, 1); transform-origin: 0% 0% 0px;"
     ligne="38" data-font-name="g_font_p74_4" data-canvas-width="53.664">query and
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 450.624px; top: 413.548px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="39" data-font-name="g_font_p74_3" data-canvas-width="20.52000102996826">20%
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 471.144px; top: 412.948px; transform: scale(0.921165, 1); transform-origin: 0% 0% 0px;"
     ligne="40" data-font-name="g_font_p74_4" data-canvas-width="116.98800000000003"> for all larger sizes. Add
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.6px; top: 427.348px; transform: scale(0.92562, 1); transform-origin: 0% 0% 0px;"
     ligne="42" data-font-name="g_font_p74_4" data-canvas-width="150.87599999999998">outside of the media queries,
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 280.456px; top: 427.948px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="43" data-font-name="g_font_p74_3" data-canvas-width="109.44000549316404">padding-left: 8%
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 389.894px; top: 427.348px; transform: scale(0.977, 1); transform-origin: 0% 0% 0px;"
     ligne="44" data-font-name="g_font_p74_4" data-canvas-width="35.172"> to the
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 425.056px; top: 427.948px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="45" data-font-name="g_font_p74_3" data-canvas-width="54.72000274658203">.comment
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 479.775px; top: 427.348px; transform: scale(0.945968, 1); transform-origin: 0% 0% 0px;"
     ligne="46" data-font-name="g_font_p74_5" data-canvas-width="117.29999999999998"> element, and float the
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 129.6px; top: 442.348px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="47" data-font-name="g_font_p74_3" data-canvas-width="54.72000274658203">.content
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 184.319px; top: 441.748px; transform: scale(0.937778, 1); transform-origin: 0% 0% 0px;"
     ligne="48" data-font-name="g_font_p74_4" data-canvas-width="25.320000000000004"> and
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 209.632px; top: 442.348px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="49" data-font-name="g_font_p74_3" data-canvas-width="61.56000308990478">.comments
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 271.191px; top: 441.748px; transform: scale(0.936264, 1); transform-origin: 0% 0% 0px;"
     ligne="50" data-font-name="g_font_p74_4" data-canvas-width="85.2"> elements to the
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 356.38px; top: 442.348px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="51" data-font-name="g_font_p74_3" data-canvas-width="27.360001373291016">left
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 383.74px; top: 441.748px; transform: scale(0.918783, 1); transform-origin: 0% 0% 0px;"
     ligne="52" data-font-name="g_font_p74_4" data-canvas-width="72.49199999999999">. You can also
</div>
<div dir="ltr"
     style="font-size: 11.4px; font-family: monospace; left: 456.232px; top: 442.348px; transform: scale(0.977143, 1); transform-origin: 0% 0% 0px;"
     ligne="53" data-font-name="g_font_p74_3" data-canvas-width="123.12000617980954">text-align:justify
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 129.602px; top: 456.148px; transform: scale(0.947196, 1); transform-origin: 0% 0% 0px;"
     ligne="55" data-font-name="g_font_p74_4" data-canvas-width="197.964">them to make the text look like a block.
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 480.676px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="56" data-font-name="g_font_p74_3" data-canvas-width="246.240004348755">@media screen and (max-width: 960px)
    {
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 495.364px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="57" data-font-name="g_font_p74_3" data-canvas-width="174.96000308990475"> .nav {padding: 1% 5%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 510.052px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="58" data-font-name="g_font_p74_3" data-canvas-width="265.68000469207783"> .content,.comments {padding: 1%
    5%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 524.74px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="59" data-font-name="g_font_p74_3" data-canvas-width="174.96000308990475"> .content {width: 90%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 539.428px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="60" data-font-name="g_font_p74_3" data-canvas-width="181.4400032043457"> .comments {width: 90%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 554.116px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="61" data-font-name="g_font_p74_3" data-canvas-width="6.480000114440918">}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 567.076px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="63" data-font-name="g_font_p74_3" data-canvas-width="401.7600070953374">@media screen and (min-width: 961px)
    and (max-width: 1280px) {
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 581.764px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="64" data-font-name="g_font_p74_3" data-canvas-width="174.96000308990475"> .nav {padding: 1% 5%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 596.452px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="65" data-font-name="g_font_p74_3" data-canvas-width="220.32000389099127"> .nav ul li {display: inline;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 611.14px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="66" data-font-name="g_font_p74_3" data-canvas-width="265.68000469207783"> .content,.comments {padding: 1%
    5%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 625.828px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="67" data-font-name="g_font_p74_3" data-canvas-width="174.96000308990475"> .content {width: 60%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 640.516px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="68" data-font-name="g_font_p74_3" data-canvas-width="181.4400032043457"> .comments {width: 20%;}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 655.204px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="69" data-font-name="g_font_p74_3" data-canvas-width="6.480000114440918">}
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 669.892px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="70" data-font-name="g_font_p74_3" data-canvas-width="252.72000446319595">@media screen and (min-width:
    1281px) {
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 684.58px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="71" data-font-name="g_font_p74_3" data-canvas-width="71.28000125885008"> .nav {
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 699.268px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="72" data-font-name="g_font_p74_3" data-canvas-width="187.9200033187866"> position: absolute;
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 713.956px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="73" data-font-name="g_font_p74_3" data-canvas-width="129.60000228881833"> top: 20px;
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 728.644px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="74" data-font-name="g_font_p74_3" data-canvas-width="116.64000205993649"> left: 0;
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 743.332px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="75" data-font-name="g_font_p74_3" data-canvas-width="149.04000263214107"> width: 144px;
</div>
<div dir="ltr"
     style="font-size: 10.8px; font-family: monospace; left: 151.2px; top: 758.02px; transform: scale(0.925714, 1); transform-origin: 0% 0% 0px;"
     ligne="76" data-font-name="g_font_p74_3" data-canvas-width="38.88000068664551"> }
</div>
<div dir="ltr"
     style="font-size: 12px; font-family: sans-serif; left: 316.8px; top: 930px; transform: scale(0.974439, 1); transform-origin: 0% 0% 0px;"
     ligne="77" data-font-name="Helvetica" data-canvas-width="100.69200400114063">www.it-ebooks.info
</div>